body {
  font-size: var(--normal-font-size);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HOME ===============*/
/* .home__scroll {
  display: block;
  width: max-content;
  margin: 0 auto;
}

.home__scroll-text {
  display: none;
}

.home__scroll-box {
  background-color: var(--black-color);
  color: var(--white-color);
  width: 36px;
  height: 36px;
  display: grid;
  place-items: center;
  font-size: 1rem;
  cursor: pointer;
  overflow: hidden;
  transition: background-color .4s;
}

.home__scroll-box i {
  animation: scroll-down 3s infinite;
} */

/* Animate scroll icon */
/* @keyframes scroll-down {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(.6rem);
    opacity: 0;
  }
} */

/*=============== BUTTON ===============*/
/* .button,
.button__ghost {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .5rem;
}

.button {
  background-color: var(--black-color);
  padding: 1.1rem 1.5rem;
  color: var(--white-color);
  font-weight: var(--font-medium);
  transition: background-color .4s;
}

.button i {
  font-size: 1.25rem;
}

.button:hover {
  background-color: var(--first-color);
}

.button__ghost {
  border: 3px solid var(--black-color);
  color: var(--black-color);
  padding: .5rem;
  transition: border .4s, color .4s;
}

.button__ghost i {
  font-size: 1.25rem;
}

.button__ghost:hover {
  border: 3px solid var(--first-color);
} */

/*=============== ABOUT ===============*/
/* .about {
  background-color: var(--container-color);
  transition: background-color .4s;
}

.about__container {
  row-gap: 0;
}

.about__profile {
  position: relative;
  justify-self: center;
  margin-block: 2.5rem 4.5rem;
}

.about__image {
  width: 220px;
}

.about__img {
  position: relative;
  border: 4px solid var(--white-color);
  z-index: 1;
}

.about__shadow,
.about__line,
.about__box {
  position: absolute;
}

.about__shadow {
  width: 150px;
  height: 385px;
  background-color: var(--body-color);
  top: -2.5rem;
  right: -3.5rem;
  border-bottom: 4px solid var(--first-color);
  transition: background-color .4s;
}

.about__profile .geometric-box {
  top: 1.5rem;
  right: -2.8rem;
}

.about__line {
  filter: invert(1);
  right: -1.25 rem;
  top: 6rem;
  width: 50px;
  transition: filter .4s;
}

.about__box {
  width: 40px;
  height: 40px;
  background-color: var(--first-color);
  right: -.5rem;
  bottom: 1.5rem;
}

.about__info {
  padding-left: 1.25rem;
}

.about__description {
  position: relative;
  color: var(--title-color);
  margin-bottom: 1.5rem;
}

.about__description::after {
  content: '';
  width: 20px;
  height: 1px;
  background-color: var(--title-color);
  position: absolute;
  left: -1.75rem;
  top: .5rem;
}

.about__list {
  list-style: square;
  color: var(--title-color);
  margin-bottom: 3rem;
}

.about__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
} */

/*=============== SERVICES Where I've worked ===============*/


/*=============== PROJECTS ===============*/
/* .projects {
  background-color: var(--container-color);
  transition: background-color .4s;
} */

/* .projects__container {
  row-gap: 2rem;
}

.projects__card {
  padding: 1rem 1rem 2rem;
  transition: background-color .4s;
}

.projects__image {
  position: relative;
  margin-bottom: .75rem;
}

.projects__button {
  position: absolute;
  right: 1rem;
  bottom: -1.5rem;
  padding: 1rem;
}

.projects__content {
  margin-bottom: 1.25rem;
}

.projects__subtitle {
  position: relative;
  display: inline-block;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  margin-bottom: .75rem;
  padding-left: 1.75rem;
}

.projects__subtitle::after {
  content: '';
  width: 20px;
  height: 1px;
  background-color: var(--text-color);
  position: absolute;
  top: 50%;
  left: 0;
}

.projects__title {
  font-size: var(--h3-font-size);
  margin-bottom: .75rem;
}

.projects__buttons {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.projects__link {
  display: flex;
  align-items: center;
  column-gap: .25rem;
  color: var(--text-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  transition: color .4s;
}

.projects__link i {
  font-size: 1rem;
  color: var(--title-color);
  transition: color .4s;
}

.projects__link:hover,
.projects__link:hover i {
  color: var(--first-color);
}

.projects__card:hover {
  background-color: var(--white-color);
} */

/*=============== CONTACT ===============*/


/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .home__image {
    width: 180px;
  }

  .about__image {
    width: 180px;
  }

  .about__shadow {
    height: 330px;
    right: -2.5rem;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .home__container,
  .about__container,
  .projects__container {
    grid-template-columns: 350px;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .projects__container {
    grid-template-columns: repeat(2, 350px);
  }
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

  /* .section {
    padding-block: 7rem 2rem;
  } */

  .section__title-1::after,
  .section__title-2::after {
    width: 70px;
    height: 48px;
  }

  .geometric-box {
    transform: scale(1.2);
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 4rem;
  }

  .nav__close,
  .nav__toggle,
  .nav__title,
  .nav__name {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }

  .nav__menu {
    margin-left: auto;
  }

  .nav__link {
    color: #2D2E32;
    font-size: var(--normal-font-size);
  }

  .nav__link:hover {
    color: var(--first-color);
  }

  .nav__link::after {
    background-color: var(--title-color);
  }

  .active-link {
    color: var(--title-color);
  }

  /* .nav__link-button {
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 1.1rem 1.5rem;
  } */

  .change-theme {
    color: var(--title-color);
  }

  .change-theme:hover {
    color: var(--first-color);
  }

  .home__container {
    grid-template-columns: repeat(2, 460px);
    gap: 2rem 4rem;
    align-items: center;
    padding-block: 5.5rem;
  }

  .home_profile {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .home__image {
    width: 350px;
  }

  .home__shadow {
    right: -1.25rem;
    bottom: -1.25rem;
    border: 6px solid var(--black-color);
  }

  .home__name,
  .home__description {
    text-align: initial;
  }
  
  .home__name {
    align-self: flex-end;
  }

  .home__info {
    margin-top: 0;
    align-self: flex-start;
  }

  .home__description {
    position: relative;
    font-size: var(--h2-font-size);
    margin-bottom: 5.5rem;
    padding-left: 3rem;
  }

  .home__description::after {
    content: '';
    width: 32px;
    height: 2px;
    background-color: var(--title-color);
    position: absolute;
    left: 0;
    top: 14px;
  }

  .home__scroll {
    margin: 0;
    display: flex;
    align-items: center;
    column-gap: .75rem;
  }

  .home__scroll-text {
    display: block;
    color: var(--text-color);
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
  }

  .home__scroll-box {
    width: 44px;
    height: 44px;
  }

  .home__scroll-box i {
    font-size: 1.25rem;
  }

  .home__profile {
    top: 15rem;
  }

  .about__container {
    grid-template-columns: 440px 525px;
    gap: 1rem 9rem;
    align-items: center;
    padding-block: 1rem;
  }

  .about__profile {
    order: -1;
    grid-row: 1 / 3;
  }

  .about__image {
    width: 350px;
  }

  .about__img {
    border: 8px solid var(--white-color);
  }

  .about__shadow {
    width: 240px;
    height: 615px;
    top: -4rem;
    right: -5.5rem;
    border-bottom: 6px solid var(--first-color);
  }

  .about__container .section__title-1 {
    align-self: flex-end;
    margin-inline: 0;
  }

  .about__info {
    align-self: flex-start;
    padding-left: 3rem;
  }

  .about__description {
    font-size: var(--h2-font-size);
    margin-bottom: 2rem;
  }

  .about__description::after {
    width: 32px;
    height: 2px;
    left: -3rem;
    top: 14px;
  }

  .about__list {
    margin-bottom: 5rem;
  }

  .about__buttons {
    justify-content: initial;
  }

  .button__ghost {
    padding: .75rem;
  }

  .button__ghost i {
    font-size: 1.5rem;
  }

  .projects__container {
    grid-template-columns: repeat(3, 352px);
    padding-block: 3rem 1rem;
  }
  .projects__card {
    padding: 1.25rem 1.25rem 2.5rem;
  }
  .projects__image {
    margin-bottom: 1rem;
  }
  .projects__content {
    margin-bottom: 2rem;
  }
  .projects__button {
    right: 1.25rem;
  }

  .footer__container {
    padding-block: 4rem;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
  .footer__links {
    column-gap: 3rem;
    order: 1;
  }

  .scrollup {
    right: 3rem;
  }
}